@@font-face {
  font-family: 'Inter';
  src: url('./inter.ttf') format('truetype');
}
* {
  box-sizing: border-box;
}
body {
  font-family: 'Inter', sans-serif;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}
.flex {
  display: flex;
}
.col-10 {
  width: 10%;
}
.col-20 {
  width: 20%;
}
.col-30 {
  width: 30%;
}
.col-40 {
  width: 40%;
}
.col-50 {
  width: 50%;
}
.col-60 {
  width: 60%;
}
.col-70 {
  width: 70%;
}
.col-80 {
  width: 80%;
}
.col-90 {
  width: 90%;
}
.row:after {
  clear: both;
  content: none;
}
.content-space-between {
  justify-content: space-between;
}
.center {
  text-align: center;
}
.mb-1 {
  margin-bottom: 1rem;
}
.container {
  max-width: 90%;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.main-header {
  padding: 10px;
  background-color: #999;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.navbar_link {
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
  transition: all 0.3s;
}
.navbar_link:hover {
  background-color: #eee;
  color: blue;
}
.content {
  flex: 1;
}
.panel {
  padding: 10px;
  margin-left: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.footer {
  text-align: center;
  padding: 10px;
  color: white;
  font-weight: bold;
  background-color: #999;
}
.idea {
  background-image: url('../img/idea.png');
}
.task {
  background-image: url('../img/task.png');
}
.thought {
  background-image: url('../img/thought.png');
}
.group-item {
  background-repeat: no-repeat;
  background-position: left center;
  padding: 5px 5px 5px 26px;
  color: black;
  background-color: #eee;
  margin-bottom: 2px;
  cursor: pointer;
  transition: all 0.2s;
}
.group-item:hover {
  background-color: #bbb;
}
.btn {
  padding: 10px;
  background-color: #eee;
  border-radius: 5px;
  cursor: pointer;
}
.btn-on {
  background-color: white;
  border: 1px solid #aaa;
}
.note-item {
  background-repeat: no-repeat;
  background-position: left center;
  padding: 5px 5px 5px 28px;
  color: black;
  background-color: #eee;
  margin-bottom: 2px;
  transition: all 0.2s;
}
.note-item:hover {
  background-color: #bbb;
}
.active {
  background-color: #999;
  color: white;
}
.note-item-btn{
  background-repeat: no-repeat;
  background-position: center;
  height: 25px;
  width: 25px;
  cursor: pointer;
}
.btn-edit {
  background-image: url('../img/edit.png');
}
.btn-archive {
  background-image: url('../img/archive.png');
}
.btn-unarchive {
  background-image: url('../img/unarchive.png');
}
.btn-delete {
  background-image: url('../img/delete.png');
}
.modal-back {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  zindex: 10;
}
.modal-window {
  margin: 3rem auto;
  width: 500px;
  background-color: white;
  border-radius: 5px;
}
.modal-title {
  padding: 10px;
}
.modal-close {
  margin: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
  cursor: pointer;
}
.modal-body {
  padding: 10px;
}
